/* This Awesome CSS file was created by Font Orgranizer from Hive :) */


@font-face {
    font-family: 'Montserrat';
    
    src: url('//renaissancemensa.local/wp-content/uploads/font-organizer/montserrat.zip') format('zip');
font-weight: normal;
}
